body{
 margin:0;
 font-family:Poppins,Arial;
 background:#05070f;
 color:#e9ecff;
}

.neon{
 background:linear-gradient(90deg,#39a0ff,#c77dff);
 -webkit-background-clip:text;
 -webkit-text-fill-color:transparent;
}

.grid{
 display:grid;
 grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
 gap:26px;
}

.card{
 background:#0c132b;
 border:1px solid #202a52;
 border-radius:18px;
 padding:22px;
 transition:.35s;
}

.card:hover{
 transform:translateY(-10px) scale(1.03);
 box-shadow:0 0 40px rgba(140,120,255,.6);
}

.btn{
 display:inline-block;
 padding:12px 22px;
 border-radius:12px;
 text-decoration:none;
 color:white;
 background:linear-gradient(90deg,#39a0ff,#b46cff);
 box-shadow:0 0 25px rgba(150,120,255,.6);
}
